.Node {
  width: 25px;
  height: 25px;
  outline-width: 1px;
  outline: 1px solid black;
  display: inline-block;
  
}

.Node-start {
  background-color: rgb(0,255,0);
}

.Node-finish {
  background-color: red;
}

.Node-wall {
  background-color: black;
} 

.Node-nopath {
  background-color: red;
}

.Node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.Node-shortest-path {
  animation-name: pathAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}



@keyframes visitedAnimation {
  0% {
    background-color: rgb(135,206,250);
  }
  50% {
    background-color: rgb(30,144,255);
  }
  100% {
    background-color: blue;
  }
}

@keyframes pathAnimation {
  0% { 
    background-color: rgb(255,255,224);
  } 
  50% { 
    background-color: rgb(255,255,102); 
  } 
  100% { 
    background-color: yellow; 
  }
}
