.grid {
  font-size: 0px;
  margin: 50px 275px;
}

.IOclass {
  margin: 0px 400px;
}

.IO {
  background-color: blue; 
  border: none;
  outline-width: 1px;
  outline: 1px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.IO-current {
  background-color: darkblue;
}

.IO:hover {
  background-color: rgb(5, 66, 87);
}

.IO:active {
  position:relative;
	top:1px;
}

.VisualizeClass {
  margin: 0px 675px;
}

.Visualize {
  background-color: green; 
  border: none;
  outline-width: 1px;
  outline: 1px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Visualize:hover {
  background-color: darkgreen; 
}

.info {
  margin: 10px 775px;
  background-color: green; 
  border: none;
  outline-width: 1px;
  outline: 1px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}